body {
    background-color: #ffffff;
    font-family: "Times New Roman", Times, serif;
    padding: 0;
    margin: 0;
    font-size: 20px;

}
header {
    background-color: #800000;
    text-align: center;
    height: 100px;
    width: 100%;
}
img {
    float: left;
    background-color: #800000;
}

a {
    text-decoration: none;
    font-size: 75px;
    color: black;
    text-align: center;
    opacity: 75%;
}
a:hover {
    color: #808080;
}
header>p {
    font-size: 75px;
    color: black;
    text-align: center;
    opacity: 75%;
}
h1 {
    padding: 0;
    margin: 0;
    font-size: 75px;
    color: black;
}
p a {
    font-size: 20px;
}
section {
    height: 200px;
    width: 450px;
    border: solid, black;
    text-align: center;
}
section a {
    color: blue;
    text-decoration: underline;
}
details {
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    max-height: 50px;
}
details[open] {
    max-height: 500px;
}
details[closed] {
    max-height: 0px;
    visibility: visible;
}
